{% extends "base_enable_ajax.html" %}
{% block title %}Shopping List Products {{% endblock %}
{% block head %}Shopping List | {{shoppinglist.shoppingdate}} | {{shoppinglist.shop}} {% endblock%}
{% block navbar %}
{% include "navbar_shoplist_products.html" %}
{% endblock %}
{%block lefthead %}{%if user.username %}<a href="/logout/">Logout</a>

{%else%} <div><a href="/login/" data-role="button" class="ui-btn-left">Login</a><a href="/register/" data-role="button" class="ui-btn-right">Register</a></div>

{%endif%}{%endblock%}
{% block content %}

{% include "list_products.html" %} 

	
{% endblock %}