{% extends "base_enable_ajax.html" %}
{% block title %}DropGrocery | Shops{% endblock %}
{% block head %}My Personal Products {% endblock %}
{% block navbar %}{% include "navbar_customproducts.html" %}{%endblock%}
{% block righthead %}<a href="settings" data-icon="gear" class="ui-btn-right">Settings</a> {%endblock%}
{% block content %}

{% if customproducts %}

  
    {% if remove %}
    		<form method="post" action="">{% csrf_token %}
    		<fieldset data-role="controlgroup">
    		<legend>Products to remove:</legend>
    {%else%}
	<ul data-role="listview" {% if remove %} data-theme="d" {%endif%}>
	{%endif%}
    
        {% for customproduct in customproducts %}
        
        {% if remove %}
    		
    
        
        <input name="{{customproduct.id}}" id="custprod{{customproduct.id}}" type="checkbox">
        <label for="custprod{{customproduct.id}}">{{ customproduct.name}}</label>
        
    
    
    	{% else %}
        <li><a href="#popup{{customproduct.id}}" data-rel="popup" data-position-to="window" data-transition="popup">{{ customproduct.name }} </a></li>
        
    
    <div data-role="popup" id="popup{{customproduct.id}}" data-theme="a" class="ui-corner-all">
    <a href="./" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <form method="post" action="">{% csrf_token %}
            <div style="padding:10px 20px;">
              
              <label for="amount" class="select">Amount</label>
			<select name="amount" id="amount" data-mini="true">
			<option value="0">0</option>
    		<option selected="selected" value="1">1</option>
    		<option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    		
</select>
			
			<input type="hidden" name="product_name" value="{{customproduct.name}}">
              <button type="submit" data-theme="b" data-icon="check">Add</button>
            </div>
        </form>
    </div>
        {% endif %}
        {% endfor %}
    
    {%if remove %}
    <input type="submit" value="Remove Custom Product(s)" data-theme="b"/>
    </fieldset>
    </form>
    {%else%}
     </ul>
    {%endif%}
{% else %}
<p>No Custom products found.</p>
{% endif %}
{% endblock %}